/* ContactUs.css */

.co-form {
  display: grid;
  gap: 10px;
  max-width: 400px;
  margin: 0 auto;
}

.co-form label {
  display: grid;
  grid-template-columns: 100px 1fr;
  align-items: center;
}
.co-form input[type='text'],
.co-form input[type='email'],
.co-form input[type='tel'],
.co-form input[type='number'],
.co-form input[type="date"],
.co-form textarea,
.co-form select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.co-form textarea {
  resize: vertical;
}

.co-label {
  font-weight: bold;
  margin-right: 10px;
}

.date-input {
  position: relative;
}

.date-input .date-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  color: #888;
  cursor: pointer;
}

.cobutton {
  padding: 10px 20px;
  margin: 10px;
  margin-left: 30%;
    /* padding: 10px 20px; */
  background-color: #ea2f2f;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 40%;
  align-items: center;
  margin-bottom: 15px;
  
}

.cont {
  background: #1c92d2;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #f2fcfe, #1c92d2);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #f2fcfe, #1c92d2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


  width: 100%;
  /* margin-top: 0%; */
  /* margin-bottom: 0%; */
  
}
